/var/log/monit.log {
  rotate 7
  daily
  minsize 1M
  missingok
  create 644 root adm
  su root adm
  notifempty
  compress
  delaycompress
  postrotate
    invoke-rc.d monit reload > /dev/null
  endscript
}
